streamlit
python-dotenv
pyyaml
langchain
langchain-groq
langchain-community
groq
transformers
torch
sentence-transformers
pandas
numpy
scikit-learn
xgboost
faker
plotly
matplotlib
seaborn
shap
faiss-cpu